        <footer>
            <div class="footerBox">
                <div class="data">
                    <a href="https://discord.com/users/killo#8103" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://www.linkedin.com/in/uidmoti/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/motirebuma" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
                    <a href="https://t.me/killo_killo" target="_blank"><i class="fa-brands fa-telegram"></i></a> 
                </div>
            </div>
        </footer>
        <script src="/js/app.js"></script>
    </body>
</html>