        <footer>
            <div class="footerBox">
                <div class="data">
                    <a href="https://www.reddit.com/user/uid_moti" target="_blank"><img src="/icons/reddit.svg" alt="" title="reddit"></a>
                    <a href="https://discord.com/users/killo#8103" target="_blank"><img src="/icons/discord.png" alt="" title="discord"></a>
                    <a href="https://www.linkedin.com/in/uidmoti/" target="_blank"><img src="/icons/linkedin.ico" alt="" title="linkedin"></a>
                    <a href="https://github.com/uid-moti" target="_blank"><img src="/icons/github.png" alt="" title="github"></a>
                    <a href="https://t.me/uid_moti" target="_blank"><img src="/icons/telegram.png" alt="" title="telegram"></a> 
                </div>
            </div>
        </footer>
        <script src="/js/app.js"></script>
    </body>
</html>