<%- include('partials/header'); %>
<!-- Navbar links -->
<nav class="navbar navbar-expand-md">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
     
    <div class="cssnav collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li  class="nav-item">
                <a href="home" class="nav-link">Home</a>
            </li>
            <li>
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="skills" class="nav-link">Skills</a>
            </li>
            <li class="nav-item">
                <a href="contact" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <div class="abt">
            <h1 class="head">About Me</h1>
            <p class="p1">Hi, I'm <span class="name">Moti</span></p>
            <p class="p1"><span class="typing-2"></span></p>
        </div>
        
        <div class="about-content">
            <div class="column abt">
                <div class="imgCard">
                    <div class="img">
                        <img src="/img/img5.jpg" alt="">
                    </div>                    
                </div>
                <!-- <p class="p1">Hi, I'm <span class="name">Moti</span></p>
                <p class="p1"><span class="typing-2"></span></p> -->
            </div>
            <div class="column left">
                <div class="box box1">
                    <i class="fa fa-code fa-5x"></i>
                    <h1>Web Dev</h1>
                    <p>I'm full stack web developer adept in working in both front end and back end development.</p>
                </div>
                <div class="box box2">
                    <i class="fa fa-paint-brush fa-5x"></i>
                    <h1>Designer</h1>
                    <p>I'm UI/UX designer and frontend developer with strong conceptualization ability.</p>
                </div>
            </div>
            <div class="column right">
                <div class="box box3">
                    <i class="fab fa-android fa-5x"></i>
                    <h1> Mob Dev</h1>
                    <p>I'm mobile app developer with experience in both android and IOS app development using flutter.</p>
                </div>
                <div class="box box4">
                    <i class="fab fa-redhat fa-5x"></i>
                    <h1> CEH</h1>
                    <p>I'm penetration tester and have ability to identify and exploit vulnerabilities in systems and on web applications.</p>
                </div>
                </div>
        </div>
    </div>
</section>
<%- include('partials/footer'); %>