@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/img/bg-cat2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
form.box
{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: #111;
    padding: 20px;
    gap: 10px;
    border-radius: 40px;
    opacity: 0.8;
    margin: 10%;
}
form.box:hover
{
    box-shadow: 0 5px 25px aqua;
    border: solid aqua 1px;
}

form.box .img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: url(/img/img5.jpg);
    background-position: center;
    background-size: cover;
    align-self: center;
    margin: 20px;
    z-index: 999;
}
form.box .img:hover
{
    transform: scale(1.2);
    box-shadow: 0 5px 15px aqua;
    border: solid aqua 1px;
    transition: 0.6s;
}
form.box input
{
    font-size: 20px;
    padding: 5px;
    background-color: #1c1c1c;
    color: aqua;
    border: solid teal 1px;
    width: 80%;
    align-self: center;
    outline: none;
}
form.box input::placeholder
{
    opacity: 0.7;
    font-size: 16px;
    color: aqua;
}
form.box input:hover
{
    box-shadow: 0 5px 15px aqua;
    border: solid teal 1px;
    outline: none;
}
form.box input:focus
{
    border-color: teal 1px;
    outline: none;
}
form.box h5
{
    align-self: center;
    color: pink;
    font-weight: 600;
    font-size: 17px;
    border: solid pink 1px;
    padding: 2px;
}
form.box h5:hover
{
    content: 'Try Again';
}
form.box button
{
    height: 30px;
    width: 80px;
    border: solid aqua 1px;
    color: aqua;
    background-color: #111;
    margin-left: 35px;
}
form.box button:hover
{
    box-shadow: 0 5px 15px aqua;
    border: solid aqua 1px;
    color: aqua;
}

form.box p
{
    text-align: justify;
    color: aqua;
    margin: 10px;
}
form.box p:hover
{
    transform: scale(1.04);
}