@import url('https://fonts.googleapis.com/css3?family=Ubuntu&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    color:azure;
}
body
{
    background: url(/img/bg-cat2.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container
{
    margin: 10px;
    padding: 10px;
    height: 450px;
    width: 420px;
    background-color: #1c1c1c;
    padding: 30px;
    opacity: 0.9;
    border-radius: 20px;
}
body .container h1
{
    text-align: center;
    font-size: 70px;
    margin: 10px 5px;
    color: pink;
    border: solid pink 1px;
    border-radius: 10px;
}
body .container h2
{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}
body .container h3
{
    font-size: 17px;
    padding-bottom: 20px;
}
body .container .msg
{
    height: 130px;
    width: 100%;
    background-color: #111;
    border: solid pink 1px;
    /* scrollbar for msg div */
    overflow-y: scroll;
}
body .container .msg p
{
    padding: 15px;
    text-align: justify;
    font-size: 17px;
}