/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inspiration&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* all similar content styling codes */
section
{
    padding: 100px 0;
    min-height: 90vh;
}
.max-width
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills, .contact
{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav.navbar
{
    min-height: 90px;
    position: fixed;
    display: absolute;
    background-color: #213E3B;
    width: 100%;
    z-index: 999;
    border-bottom: solid teal;
    top: 0;
    opacity: 0.8;
}
nav.navbar:hover
{
    opacity: 1;
}
nav.navbar button
{
    border: solid 2px teal;
    border-color: teal;
    /* margin-left: 20px;   */
}
nav.navbar .cssnav
{
    justify-content: right;
    align-items: right;
}
nav.navbar .cssnav li{
    list-style: none;
    display: inline-block;
}
nav.navbar .cssnav li:active
{
    transform: scale(1.35);
}
nav.navbar .cssnav li a{
    text-decoration: none;
    display: block;
    color: #37E2D5;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
}
nav.navbar .cssnav li a:hover
{
    color: aqua;
}
/* home section styling */
.home{
    display: flex;
    height: 100vh;
    background: url("/img/bg-programmer.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* min-height: 500px; */
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .max-width .row{
  margin-right: 0;
}
.card
{
    position: relative;
    width: 350px;
    height: 190px;
    transform: 0.5s;
}
.card:hover
{
    height: 350px;
}
.card .lines
{
    position: absolute;
    inset: 0;
    background-color: #000;
    overflow: hidden;
}
.card .lines::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    background: linear-gradient(transparent, #37E2D5, #37E2D5, #37E2D5, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.card .lines::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: url("/img/frame.png") no-repeat;
    background-position: center;
}
.card .img_box
{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.card:hover .img_box
{
    width: 250px;
    height: 250px;
}
.card .img_box::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #37E2D5, #37E2D5, #37E2D5, transparent);
    animation: animate2 6s linear infinite;
}
@keyframes animate2
{
    0%
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
.card .img_box::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: url("/img/prof.jpg");
    filter: grayscale(10%);
    background-size: cover;
    background-attachment: fixed;
}
.card .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);

}
.card:hover .content .details
{
    transform: translateY(0px);
}
.card .content .details h2
{
    font-size: 1.25em;
    font-weight: 600;
    color:turquoise;
    line-height: 1.2em;
}
.card .content .details h2 span
{
    font-size: 0.75em;
    font-weight: 500;
    color: #6EDCD9;
    font-family: monospace sans-serif;
}
.card .content .data
{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
.card .content .data a img
{
    height: 40px;
    width: 40px;
    justify-content: space-between;
}
.card .content .data a img:hover
{
    transform: scale(1.12);
}
.card .content .actionBtn a
{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #1c1c1c;
    color: #45f3ff;
    cursor: pointer;
    text-decoration: none;
    border: solid teal;
    height: 20px;
}
.card .content .actionBtn a:hover
{
    background-color: transparent;
    color: aqua;
    box-shadow: 0 3px 15px teal;
}
/* about */
.about
{
    background-color: #3C4048;
}
.about .imgCard img
{
    height: 500px;
    width: 300px;
    border-radius: 30px;
}
.about .imgCard img:hover
{
    box-shadow: 0 5px 25px aqua;
}
/* .about .abt
{
    padding: 0 10px;
} */
.about .abt p.p1
{
    font-size: 40px;
    font-weight: 500px;
    font-family: 'Poppins';
    padding-top: 10px;
    text-align: center;
    color: #C3F8FF;
}
.about .abt p.p1 span
{
    /* color: aqua; */
    font-family: 'Ubuntu';
    font-size: 30px;
}
.about .abt p.p1 span.name
{
    color: aqua;
    font-weight: normal;
    font-size: 40px;
}
.about .abt p.p1 span.name:hover
{
    color: aquamarine;
}
.about p{
    text-align: justify;
}
.about h1.head
{
    text-align: center;
    font-family: 'Inspiration';
    font-weight: 500;
    font-size: 70px;
    color: aqua;
}
.about h1
{
    text-align: center;
    color: teal;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Ubuntu';

}
.about .about-content p
{
    text-align: center;
    font-size: 19px;
    color: black;
}
.about .about-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about .about-content .box
{
    /* border: solid 1px teal; */
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 4px;
    overflow: hidden;
    margin: 10px;
}
.about .about-content .box1
{
    background-color: #8BBCCC;
    border: solid 1px #8BBCCC;
    box-shadow: 0 5px 15px #8BBCCC;
    
}
.about .about-content .box2
{
    background-color: #C3F8FF;
    border: solid 1px #C3F8FF;
    box-shadow: 0 5px 15px #C3F8FF;
}
.about .about-content .box3
{
    background-color: #9C9EFE;
    border: solid 1px #9C9EFE;
    box-shadow: 0 5px 15px #9C9EFE;
}
.about .about-content .box4
{
    background-color: #7DE5ED;
    border: solid 1px #7DE5ED;
    box-shadow: 0 5px 15px #7DE5ED;
}
/* hover */
.about .about-content .box1:hover
{
    background-color: #FFA1CF;
    border: solid 1px #FFA1CF;
    box-shadow: 0 5px 15px #FFA1CF;
}
.about .about-content .box2:hover
{
    background-color: #FFECEF;
    border: solid 1px #FFECEF;
    box-shadow: 0 5px 15px #FFECEF;
}
.about .about-content .box3:hover
{
    background-color: #FFE6F7;
    border: solid 1px #FFE6F7;
    box-shadow: 0 5px 15px #C3F8FF;
}
.about .about-content .box4:hover
{
    background-color: #47B5FF;
    border: solid 1px #47B5FF;
    box-shadow: 0 5px 15px #47B5FF;
}
/* skills section styling */
.skills{
    background-color: #1C2B2D;
    min-height: 80vh;
}
.skills h1
{
    text-align: center;
    font-family: 'Inspiration';
    font-weight: 500;
    font-size: 70px;
    color: aqua;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .bars{
    margin-bottom: 15px;
}
.skills .skills-content .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content span{
    font-weight: 500;
    font-size: 18px;
    color: aqua;
}
.skills .skills-content .line{
    height: 5px;
    width: 100%;
    background: gray;
    position: relative;
}
.skills .skills-content .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    /* background: #20B2AA; */
    background-color: whitesmoke;
}
/* left */
.skills-content .html::before{
    width: 90%;
}
.skills-content .css::before{
    width: 75%;
}
.skills-content .bootstrap::before{
    width: 75%;
}
.skills-content .js::before{
    width: 70%;
}
.skills-content .jquery::before{
    width: 75%;
}
.skills-content .nodejs::before{
    width: 78%;
}

/* right */
.skills-content .python::before{
    width: 80%;
}
.skills-content .cpp::before{
    width: 72%;
}
.skills-content .java::before{
    width: 72%;
}
.skills-content .flutter::before{
    width: 70%;
}
.skills-content .bash::before{
    width: 87%;
}
.skills-content .db::before{
    width: 75%;
}


/* contact section styling */
.contact
{
    background-color: #393E46;
    min-height: 95vh;
}
.contact .text,
.contact p,
.contact .head
{
    color: #C3F8FF;
}

.contact h1
{
    text-align: center;
    font-family: 'Inspiration';
    font-weight: 500;
    font-size: 70px;
    color: aqua;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: aqua;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: aqua;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1.5px solid #C3F8FF;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins';
    transition: all 0.3s ease;
    background-color: transparent;
    opacity: 0.7;
    color: #C3F8FF;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #C3F8FF;
}
.contact .right form .field input::placeholder,
.contact .right form .textarea textarea::placeholder
{
    opacity: 1;
    color: #C3F8FF;
    /* background-color: #100720; */
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button-area{
    display: flex;
    align-items: center;
}
.right form .button-area button{
    color: black;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #C3F8FF;
    border: 2px solid #C3F8FF;
    transition: all 0.3s ease;
}
.right form .button-area button:hover{
    color: #C3F8FF;
    background: none;
}

/* footer */
footer
{
    display: absolute;
    width: 100%;
    z-index: 999;
    bottom: 0;
    background-color: #213E3B;
    border-top: solid 2px #C3F8FF;
}
footer .footerBox .data
{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}
footer .footerBox .data a img
{
    height: 30px;
    width: 30px;
    justify-content: space-between;
}
footer .footerBox .data a img:hover
{
    transform: scale(1.12);
}




@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        flex: 100%;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .about p{
        text-align: justify;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
}

@media (max-width: 500px) {
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
}